<h3>Friends:</h3>
<ng-container *ngFor="let friend of friends; let i = index">
  <!--<p *ngIf="friend.isfriend">-->
    <!--{{i}}. {{friend.nick}} - {{friend.email}}-->
  <!--</p>-->
  <div>
    <a routerLink="/conversation/{{friend.uid}}">{{i}}. {{friend.nick}} - {{friend.email}}</a>
  </div>
</ng-container>


<h3>Suggestions:</h3>
<ng-container *ngFor="let sugg of suggestions; let i = index">
  <!--<p *ngIf="!friend.isfriend">-->
    <!--{{i}}. {{friend.nick}} - {{friend.email}}-->
  <!--</p>-->
  <div>
    <a routerLink="/conversation/{{sugg.uid}}">{{i}}. {{sugg.nick}} - {{sugg.email}}</a>
  </div>
</ng-container>
